
body p {
color: #FBF2A3;
font-size: large;
}

body {
  margin: 0;
  background-color: #FBF2A3;
  font-family: Arial, sans-serif;
  color: #793f19;
  background-image: url("./images/Untitled_Artwork-1.png");
  background-size: auto;
}

.navbar {
  background-color: #793f19;
  color: #ffee99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  gap: 50px;
}

a {
    text-decoration: none;
    color: #FBF2A3;
}

body p {
color: #FBF2A3;
font-size: large;
}

.swiper-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.swiper p{
    color: #FBF2A3;
    background-color: #793f19;
    padding: 15px;
    border-radius: 10px;
    margin-right: 300px;
    margin-left: 300px;
    font-size: 25px ;
}

.swiper-button-prev {
    color: #793f19;
    text-decoration: none;
    margin-left: 200px;
}

.swiper-button-next {
    color: #793f19;
    text-decoration: none;
    margin-right: 200px;
}

body {
  margin: 0;
  background-color: #ffee99;
  font-family: Arial, sans-serif;
  color: #793f19;
}

#werk {
    background-image: none;
}

.navbar {
  background-color: #793f19;
  color: #ffee99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  gap: 50px;
}

a {
    text-decoration: none;
    color: #FBF2A3;
}

#Gridwerk h3 {
    font-size: 25px;
    color: #793f19;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
    font-family: Arial, sans-serif;
}

#Gridprojecten h3 {
    font-size: 25px;
    color: #793f19;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
    font-family: Arial, sans-serif;
}

.Explore a{
    color: #793f19;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* ruimte tussen items */
  padding: 40px;
  flex-wrap: wrap; /* zorgt dat het op mobiel onder elkaar valt */
}

.text-left, .text-right {
  max-width: 300px;
  font-size: 25px;
  color: #793f19;
}

.text-left {
    margin-top: -50px;
}

.text-right {
     margin-top: 400px;
}

h1 {
    font-size: 70px;
    font-weight: 700;
}

#Charachteristics H1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    text-align: center;
    margin-top: 40px;
}

#Skills H1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    text-align: center;
    margin-top: 120px;
}

#Categories h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 120px;
    background-color: #793f19;
    border-radius: 10px;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
}

.Titel H1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    text-align: center;
    margin-top: 30px;
    color: #793f19;
    background-color: none;
}

.ai {
    margin-bottom: 50px;
}

h2 {
    font-size: 25px;
    font-weight: 400;
}

h2 b{
    font-weight: 700;
}

.avatar img {
   align-items: center;
   padding-right: 30px;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.intro-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

#grid {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
}
.app {
    margin-top: 450px;
}

.derdefoto {
    margin-top: 60px;
}

#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#box img {
    margin-top: 40px;
    margin-left: 175px;
}

#box h3{
    font-size: 35px;
    color: #FBF2A3;
    background-color: #793f19;
    border-radius: 10px;
    margin-left: 600px;
    margin-right: 300px;
    margin-top: -650px;
    padding: 40px;
    padding-left: 120px;
}

#Categories a :hover {
    background-color: #FBF2A3;
    color: #793f19;
    border: #793f19;
    border-style: dashed;
    border-width: 10px;
}

/* nederlandse versie*/

.navbar-nd {
  background-color: #793f19;
  color: #ffee99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  gap: 50px;
}

.Explore-nd a{
    color: #793f19;
}

.avatar-nd img {
   margin: auto;
}

.intro-section-nd {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

.intro-container-nd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* ruimte tussen items */
  padding: 40px;
  flex-wrap: wrap; /* zorgt dat het op mobiel onder elkaar valt */
}

.text-left-nd, .text-right-nd {
  max-width: 300px;
  font-size: 25px;
  color: #793f19;
}

.text-left-nd {
    margin-top: -70px;
}

.text-right-nd {
     margin-top: 400px;
     margin-left: -40px;
}

#Charachteristics-nd H1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
}

#Skills-nd H1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    text-align: center;
    margin-top: 120px;
    margin-left: 70px;
}


@media screen and (max-width: 768px) {
    .navbar {
        font-size: 25px;
        gap: 35px;
    }

    .logo {
        margin-left: -20px;
    }

   .avatar img {
    width: 290px;
    height: auto;
    margin-left: -50px;
    margin-right: 5px;
   }
  
  .intro-container {
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
   }
  
  .text-left, .text-right {
  max-width: 125px;
  color: #793f19;
  }
  
  .text-left {
    margin-left: -70px;
  }
  
  .text-right {
    margin-top: -150px;
    margin-left: 240px;
    max-width: 150px;
  }
  
  h1 {
    font-size: 25px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 18px;
  }

  #Charachteristics H1 {
    font-size: 50px;
  }
  
  .swiper img {
    width: 300px;
  }
  
  .swiper p {
    font-size: 15px;
    max-width: 200px;
    margin: auto
  }
  
  .swiper-button-next {
    margin-right: 5px;
  }
  
  .swiper-button-prev {
    margin-left: 5px;
  }
  
  #Skills H1 {
    font-size: 50px;
  }
  
  #grid img {
    width: 250px;
    height: auto;
    margin-left: -10px;
  }
  
  .app img {
    margin-top: -100px;
  }

  #Categories H1 {
    font-size: 50px;
  }
  
  #Categories h2 {
    font-size: 30px;
  }

  #contact {
    align-items: baseline;
  }
  
  #contact img {
    width: 300px;
    margin-left: -3px;
  }
  
  #box h3 {
    font-size: 15px;
    margin-left: 165px;
    margin-right: 5px;
    margin-top: -225px;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 300px;
    padding-top: 65px;
  }
}
